.board-wrapper {
    // width: 800px;
    width: 50%;
    aspect-ratio: 1;
    overflow-x: hidden;
    border: 2px solid black;
}

@media (max-width: 1300px) {
    .board-wrapper {
        width: 75%;
    }
}

@media (max-width: 800px) {
    .board-wrapper {
        width: 95%;
    }
}

.board {
    width: 112.5%;
    // height: 800px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 11.11%;
    height: 12.5%;
    // display: flex;
}

.board> :nth-child(even) {
    background-color: lightblue;
}

.board> :nth-child(odd) {
    background-color: white;
}

// .board > * {
//     background-size: cover;
// }

// .board [class^="square "] {
//   cursor:grab;
// }

.piece {
    width: 100%;
    height: 100%;
    cursor: grab;
    display: block;
}

// .r{
//     background-image: url('../../assets/pieces/Chess_rdt45.svg');
// }

// .n{
//     background-image: url('../../assets/pieces/Chess_ndt45.svg');
// }

// .b{
//     background-image: url('../../assets/pieces/Chess_bdt45.svg');
// }

// .q{
//     background-image: url('../../assets/pieces/Chess_qdt45.svg');
// }

// .k{
//     background-image: url('../../assets/pieces/Chess_kdt45.svg');
//     // background-image: url('../../assets/pieces/rahul.svg');
// }

// .p{
//     background-image: url('../../assets/pieces/Chess_pdt45.svg');
// }

// .R{
//     background-image: url('../../assets/pieces/Chess_rlt45.svg');
// }

// .N{
//     background-image: url('../../assets/pieces/Chess_nlt45.svg');
// }

// .B{
//     background-image: url('../../assets/pieces/Chess_blt45.svg');
// }

// .Q{
//     background-image: url('../../assets/pieces/Chess_qlt45.svg');
// }

// .K{
//     background-image: url('../../assets/pieces/Chess_klt45.svg');
//     // background-image: url('../../assets/pieces/modi.svg');
// }

// .P{
//     background-image: url('../../assets/pieces/Chess_plt45.svg');
// }