<div class="board-wrapper">
    <div class="board">
        @for (row of pieces; track x;let x = $index) {
        @for(piece of row; track y;let y = $index) {
        <div class="square" [ngClass]="piece" (dragenter)="squareHover(x,y)" (dragend)="pieceDrop(x,y,piece,$event,false)"
            draggable="false">
            @if(piece){<img [src]="'pieces/'+piece+'.svg'" class="piece P" draggable="true"
                (dragenter)="piecesSelected(piece,x,y)" />}
        </div>
        }
        }
    </div>
</div>